*{
    margin: 0;
    padding:0;  
  }
  
  body, html{
    height: 100%;
    width: 100%;
  }
  
  body{
    background: purple;
  }
  
  div{
    width: 50%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin:50px auto 0 auto;
    box-shadow: 5px 5px 25px black;
    text-align: center;
  }

  input{
    margin-top: 50px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    outline: none;
  }

  button{
      margin-top: 25px;
      width: 200px;
      height: 35px;
      cursor: pointer;
  }

  h2{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }